# IDE
 #Rider
.idea/
 #Visual Studio
.vs/
*.user

# Project
Binaries/
/Build/
Content/Collections/
Content/Developers/
DerivedDataCache/
Intermediate/
/Plugins/Developer/
Saved/
Script/
/PPGame.sln
 #dont know why generate it .ini
Config/HoloLens